
<div id="profile_wrapper">
	<div class="col-md-4">
		<div id="user_image">
			<img src="http://www.gravatar.com/avatar/<%=@user.email_hashify + '?s=400'%>">
		</div>
	</div>

	<div class="col-md-6">
		<div id="user_header">
			<h1>Username: <%= @user.username %></h1>
			<% @organizations.each do |org| %>
			<h2>Organization: <%= org.name %></h2>
			<% end %>
			<h2>Driver Score: <%= @user.driver_score %></h2>
			<h2>Navigator Score: <%= @user.navigator_score %> </h2>
		</div>
	</div>
	<div class="col-md-6">
		<div id="user_pairs">
			<%= erb :_user_modal, locals: {feedbacks: @feedbacks} %>
		</div>
	</div>

	<div class="col-md-6">
		<div id="user_data">
			<div id="donut_single" style="width: 100%; height:500px;"></div>

		</div>
	</div>
</div>
</div>


<!-- features that need to be added to the app -->

<!-- export user pairing sessions to google calender -->
<!-- be able to pick your pair -->
<!-- stats for time spent, data in general -->
<!-- this app is quickly becoming robust and should probably be moved to rails sooner, rather than later. -->

<!-- Suggestions from Erin -->
<!-- make a landing page that has people who are availible to pair at that moment -->

<!-- What stats -->